<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title size="small">
        <ion-grid>
          <ion-row>
            <ion-col
              class="ion-text-center ion-text-sm-left"
              (click)="redirectToHome()"
            >
              <img
                src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png"
                style="max-width: 120px"
              />
            </ion-col>
            <ion-col size="auto">
              <app-searchbar></app-searchbar>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar class="ion-text-center">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png"
          style="max-width: 120px"
        />
      </ion-toolbar>
      <ion-toolbar>
        <app-searchbar></app-searchbar>
      </ion-toolbar>
    </ion-header>

    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
