<app-toolbar></app-toolbar>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center ion-text-capitalize">
        <div
          style="
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          "
        >
          <ion-img [src]="pokemon()?.imageUrl" style="width: 256px"></ion-img>
        </div>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-capitalize">{{
              pokemon()?.name
            }}</ion-card-title>
            <ion-card-subtitle> Nº {{ pokemon()?.id }} </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-card>
                    <ion-card-content>
                      <h2>Informações gerais</h2>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col>
                  <ion-card>
                    <ion-card-content>
                      <h2>Tipos e fraquezas</h2>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-card>
                    <ion-card-content>
                      <h2>Habilidades</h2>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col>
                  <ion-card>
                    <ion-card-content>
                      <h2>Estatísicas</h2>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-content>
    <div class="evo-container">
      <h3>Evoluções</h3>
    </div>
  </ion-content>
</ion-content>
