<app-toolbar></app-toolbar>

<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <app-to-favorites-page></app-to-favorites-page>
  </ion-fab>

  <div class="container">
    <app-pokemon-display style="width: 100%"></app-pokemon-display>
  </div>

  <div>
    <h1 class="ion-margin-start">Lista de Pokemons</h1>
    <ion-grid>
      <ion-row>
        @for (pokemon of pokemonList(); track pokemon.name) {
          <ion-col size="12" size-sm="3">
            <ion-card>
              <ion-fab class="ion-margin" horizontal="end">
                <app-to-somewhere [urlPath]="`pokemons/${pokemon.name}`">
                  <ion-fab-button size="small">
                    <ion-icon name="eye" size="small"></ion-icon>
                  </ion-fab-button>
                </app-to-somewhere>
                <app-fav-button [id]="pokemon.id"></app-fav-button>
              </ion-fab>
              <div class="card-list-image">
                <img
                  [src]="pokemon?.imageUrl"
                  style="min-width: 128px; margin: 0px auto"
                />
              </div>
              <ion-card-content>
                <ion-card-title>{{ pokemon.name }}</ion-card-title>
                <ion-card-subtitle>Nº {{ pokemon?.id }}</ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-col>
        }
      </ion-row>
      <ion-infinite-scroll (ionInfinite)="getNextPage($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-grid>
  </div>
</ion-content>
