<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="small">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center ion-text-sm-left">
            <app-to-somewhere [urlPath]="'/'">
              <img src="assets/logo.png" style="max-width: 60px" />
            </app-to-somewhere>
          </ion-col>
          <ion-col size="auto">
            <app-searchbar></app-searchbar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>
